* {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

body {
  color: #d1c7c7;
  background-color: #171414;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding-left: 35px;
  height: 100px;
  background: rgba(101, 90, 90, 0.06);
}

header h3 {
  font-weight: 300;
  font-size: 48px;
}

section {
  height: 100vh;
}

.section-1 {
  height: calc(100vh - 100px);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.section-1 article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin-left: 100px;
  margin-bottom: 25px;
}

.section-1 article h2 {
  margin-bottom: 180px;
  margin-left: 80px;
}

.section-1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: absolute;
  right: 30px;
  top: 25%;
}

.section-1 h1 {
  font-size: 96px;
}

.section-1 h2 {
  font-size: 36px;
}

.section-1 h3 {
  font-size: 25px;
  margin-bottom: 120px;
}

.section-1 div hr {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.section-1 hr:not(.rotate) {
  position: absolute;
  opacity: 0.1;
  margin-bottom: 40px;
  height: 90%;
  z-index: -1;
}

.section-1 p {
  position: absolute;
  left: 50px;
  margin-bottom: 70px;
}

.section-2,
.section-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-2 ul,
.section-3 ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 65px;
  list-style: none;
}

.section-2 h1,
.section-3 h1 {
  font-size: 96px;
  font-weight: 700;
  border-right: 1px solid #d1c7c7;
  padding-right: 40px;
}

ul li img {
  width: 150px;
  height: 150px;
  transition: scale 0.4s ease;
}

ul li img:hover {
  scale: 1.3;
}

.hr-1 {
  left: 25%;
}

.hr-2 {
  left: 45%;
}

.hr-3 {
  left: 65%;
}

.hr-4 {
  left: 85%;
}
.section-1 img {
  width: 45px;
  height: 45px;
}

strong {
  font-weight: bold;
}

.rotate {
  transform: rotate(90deg);
}

.a-1 {
  margin-top: 100px;
}

@media (max-width: 1365px) {
  .section-1 p {
    top: 30px;
  }
}

@media (max-width: 980px) {
  .section-1 h1,
  .section-2 h1,
  .section-3 h1 {
    font-size: 60px;
  }
  .section-1 article {
    margin: 0;
  }
}

@media (max-width: 810px) {
  .section-1 div {
    flex-direction: row;
    left: 50px;
    top: 70px;
  }

  .section-1 div hr {
    width: 20%;
  }

  .rotate {
    transform: none;
  }

  .section-1 h3,
  .section-1 a {
    margin: 0;
    padding: 0;
  }

  .section-2,
  .section-3 {
    flex-direction: column;
    height: 50vh;
  }

  .section-1 div h3 {
    font-size: 16px;
    white-space: nowrap;
  }
}

@media (max-width: 530px) {
  header h3 {
    font-size: 35px;
  }

  .section-1 h1,
  .section-2 h1,
  .section-3 h1 {
    font-size: 38px;
  }

  .section-1 h2,
  .section-2 h2,
  .section-3 h2 {
    font-size: 28px;
  }

  .section-1 h1 div {
    gap: 10px;
  }

  h1,
  h2 {
    white-space: nowrap;
  }

  ul li img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 330px) {
  header h3 {
    font-size: 30px;
  }

  .section-1 p,
  .section-1 div {
    font-size: 10px;
  }

  .section-1 h1,
  .section-2 h1,
  .section-3 h1 {
    font-size: 30px;
  }

  .section-1 h2,
  .section-2 h2,
  .section-3 h2 {
    font-size: 20px;
  }
}
